body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    padding: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #EEE;
}

nav ul {
    width: 250px;
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

main {
    margin: 3vh;
    grid-template-rows: 200px 80px 200px 30px 100px;
    width: 500px;
    background-color: black;
}
.name{
    font-size: 50px;
    color: white;
    grid-row: 2;
    margin-left: 20px;
    margin-bottom:0px;
}
img{
    width:500px;
    grid-row: 3;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}
.bottom{
    display:flex;
    flex-direction: column;
    justify-content: center;
    grid-row: 5;
    margin-left: 20px;
}
.address{
    grid-row:4;
    margin-left: 20px;
}
p{
    font-size: 15px;
    color: white !important;
}


@media only screen and (max-width: 1000px) {
    /* Media queries go here */
}

@media only screen and (max-width: 600px) {
    /* Media queries go here */
}